app/static/uploads/files/2831/documentos/certificadoConformidad/CConformidadOriginal.pdf
app/static/uploads/files/2831/documentos/transferenciaCustodia/TransferenciaCustodia.pdf
app/static/uploads/copades/COPADE_1.pdf
app/static/uploads/copades/COPADE_1.pdf
app/static/uploads/copades/COPADE_112.pdf
app/static/uploads/copades/COPADE_1.pdf
