<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="../../css/administracionOrden.css">

<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Notificaciones </span>
    </div>
    <div class="wrapper wrapper-content">

        <div class="ibox-content">

            <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
                
                <li ng-class="{'success-element': notificacion.tipoAcceso == 'Llegada', 
                            'danger-element': notificacion.tipoAcceso == 'Salida'}" id="task1" ng-repeat="notificacion in notificaciones ">
                    {{notificacion.tipoAcceso}}
                    <div class="agile-detail"> {{notificacion.numEconomico}} - vin: {{notificacion.vin}}</div>
                    <div class="agile-detail">
                        <i class="fa fa-clock-o"></i> {{notificacion.tiempo}}
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</div> 

<!--script>
        $(document).ready(function(){

            $("#todo, #inprogress, #completed").sortable({
                connectWith: ".connectList",
                update: function( event, ui ) {

                    var todo = $( "#todo" ).sortable( "toArray" );
                    var inprogress = $( "#inprogress" ).sortable( "toArray" );
                    var completed = $( "#completed" ).sortable( "toArray" );
                    $('.output').html("ToDo: " + window.JSON.stringify(todo) + "<br/>" + "In Progress: " + window.JSON.stringify(inprogress) + "<br/>" + "Completed: " + window.JSON.stringify(completed));
                }
            }).disableSelection();

        });
    </script-->   

    