.utlidad {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
    color :red;
}

.aprobacion{
	  margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
}

.circle{
	/*background: red;*/
  	border-radius: 25px;
  	color: white;
  	height: 25px;
  	font-weight: bold;
  	width: 25px;
    margin-left: 30%;
}

.block{
  	text-align: center;
  	vertical-align: middle;
  	margin: 15px;
}

.center{
  text-align: center;
}

#mapaSutituto{
  padding: 2%;
}

#id_mapaCita{
  margin-right: 6%;
}

.scroll_noti{
  height: 900px;
  overflow-y: auto;
  margin: 0 auto;
}

#lis_notificaciones li{
  height: 170px;
}

    

