<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Ubicación</h4>
        
    </div>
</div>
<div class="modal-body">
    <div id="content_popDrag">
       <div class="modal-body">
            <div style="padding: 100px;" style="margin: 50px;">
                 <div class="map_container {{class_map}}" style="height: 200px!important; position: static;" id="mapa_ubicacion" >
                    <div ng-if="bandera == 0">
                      <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
                          <markers models="map.markers" coords="'self'" options="'options'" isLabel='true'>
                          </markers>
                      </google-map>
                    </div>
                    <div ng-if="bandera == 1">
                        <div class="alert alert-warning" role="alert">
                          <br>
                          <h4 class="alert-heading">Advertencia!</h4>
                          <br>
                          <p class="mb-0">No se encontro la ubicación de la unidad</p>
                          <br>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="close()">Aceptar</button>
</div>

      